@font-face {
    font-family: 'securitaire';
    src: url('https://glcdn.githack.com/floutage/securitaire/raw/master/SecuritaireFont.otf');
}

* {
    font-family:securitaire, sans-serif;
}

img {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
}
